
<title>SECA - Groups</title>

<div class="search-container">
    <h1>Search Events to Add</h1>
    <select onchange="showForm(this.value)">
    <option value="popular">Search Popular Events</option>
    <option value="name">Search Event by Name</option>
    </select>

    <form id="popularForm" action="events/search/popular" method="GET" onsubmit="return validateForm('popularForm')">
        <p><input type="text" placeholder="Number of results by page" name="s" value="30"></p>
        <p><input type="text" placeholder="Result page number" name="p" value="1"></p>
        <input type="submit" value="Search Events">
    </form>
    
    <form id="nameForm" action="events/search/name" method="GET" onsubmit="return validateForm('nameForm')" style="display:none;" >
        <p><input type="text" placeholder="Number of results by page" name="s" value="30"></p>
        <p><input type="text" placeholder="Result page number" name="p" value="1"></p>
        <p><input type="text" placeholder="Name of event" name="name"></p>
        <input type="submit" value="Search Events">
    </form>
    
    <div class="error-message" id="errorMessage"></div>
</div>

<div class="group">
    <h2 class="group-name">{{group.name}}</h1>
    <p class="group-description">{{group.description}}</p>
    <h3>Events:</h3>

    <div class="events">

    {{#if group.events.length}}

        {{#each group.events}}
            <div class="event">
            <h3>{{name}}</h3>
                {{#if date}}
                    <p>Date: {{date}}</p>
                {{/if}}
                {{#if genre}}
                    <p>Genre: {{genre}}</p>
                {{/if}}
                {{#if segment}}
                    <p>Segment: {{segment}}</p>
                {{/if}}
                <div class="bottom-buttons">

                <form id="nameForm" action="/site/event" method="GET">
                    <input type="hidden" name="id" value="{{id}}">
                    <input type="submit" value="More Details...">
                </form>

                <button onclick="removeFromGroup('{{id}}', '{{../group.id}}', '{{../group.userID.token}}')">Remove From Group</button>

                </div>
            </div>
        {{/each}}
    {{/if}}

     </div>
    </div>  

