<title>SECA - Events</title>


{{#if group}}
    <div class="events">
      {{#each events}}
          {{> eventResult}}
      {{/each}}
  </div>
    <div class="bottom-buttons">
        <button onclick="addSelectedEvents('{{group.id}}', '{{group.userID.token}}')">Add Selected Events (Repeat Events will not be added)</button>
    </div>
  

{{else}}
  <div class="events">
    {{#each events}}
      {{> eventResult}}
    {{/each}}

  </div>
{{/if}}

    <div class="pagination">

        {{#if (calculatePagination 'previous' size page)}}
            <a href="#" onclick="getUrl('previous', {{size}}, {{page}}, '{{path}}', '{{name}}')">Previous Page</a>
        {{/if}}

        {{#if (calculatePagination 'next' size page)}}
            <a href="#" onclick="getUrl('next', {{size}}, {{page}}, '{{path}}','{{name}}')">Next Page</a>
        {{/if}}

    </div>


