 <div class="event">
         <h3>{{name}}</h3>
            {{#if date}}
                <p>Date: {{date}}</p>
            {{/if}}
            {{#if genre}}
                <p>Genre: {{genre}}</p>
            {{/if}}
            {{#if segment}}
                <p>Segment: {{segment}}</p>
            {{/if}}
        <div class="bottom-buttons">
        <form id="nameForm" action="event" method="GET">
            <input type="hidden" name="id" value="{{id}}">
            <input type="submit" value="More Details...">
        </form>
        </div>
</div>